<!DOCTYPE html>
<html>
<head>
    <title>My Note Site</title>
    <link href="~/Styles/notesStyles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>My Note Site</h1>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            &copy; @DateTime.Now.Year My Note Site
        </div>
    </div>
</body>
</html>